Originals/Fallout2Launcher/.vs
Originals/Fallout2Launcher/bin
Originals/Fallout2Launcher/obj
Originals/FalloutLauncher/.vs
Originals/FalloutLauncher/bin
Originals/FalloutLauncher/obj
Originals/TacticsLauncher/.vs
Originals/TacticsLauncher/bin
Originals/TacticsLauncher/obj
Fallout2Launcher/.vs
Fallout2Launcher/bin
Fallout2Launcher/obj
FalloutLauncher/.vs
FalloutLauncher/bin
FalloutLauncher/obj
TacticsLauncher/.vs
TacticsLauncher/bin
TacticsLauncher/obj
LauncherEditor/.vs
LauncherEditor/bin
LauncherEditor/obj
*.user
LauncherEditor/ResourceHacker.exe
LauncherEditor/ResourceHacker.ini
LauncherEditor/ResourceHacker.log
LauncherEditor/Fallout 3
LauncherEditor/Fallout New Vegas
LauncherEditor/Fallout 4
