Fallout2Launcher/.vs
Fallout2Launcher/bin
Fallout2Launcher/obj
FalloutLauncher/.vs
FalloutLauncher/bin
FalloutLauncher/obj
TacticsLauncher/.vs
TacticsLauncher/bin
TacticsLauncher/obj
LauncherEditor/.vs
LauncherEditor/bin
LauncherEditor/obj
*.user
LauncherEditor/ResourceHacker.exe
LauncherEditor/ResourceHacker.ini
LauncherEditor/ResourceHacker.log
LauncherEditor/Fallout 3
LauncherEditor/Fallout New Vegas
LauncherEditor/Fallout 4
